-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: supplybridge
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('97a7d060-46da-4628-b562-d0777fba8b29','5f2c4d3be5b75364b6f3fd43196aa761e995458358d106c508ac3f2ad6b23169','2026-07-31 10:53:11.172','20260731105310_user',NULL,NULL,'2026-07-31 10:53:11.038',1),('c9ee5464-d4f6-4ddf-9c8d-c6357f9eccf6','f36fe8d3379d261ca644214834b79454dc58de13f1a2a2842e4c247084f68e33','2026-07-31 10:52:53.349','20260731103146_y',NULL,NULL,'2026-07-31 10:52:48.752',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activitylog`
--

DROP TABLE IF EXISTS `activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activitylog` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) DEFAULT NULL,
  `action` varchar(191) NOT NULL,
  `details` text DEFAULT NULL,
  `ipAddress` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `ActivityLog_userId_fkey` (`userId`),
  CONSTRAINT `ActivityLog_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylog`
--

LOCK TABLES `activitylog` WRITE;
/*!40000 ALTER TABLE `activitylog` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attribute`
--

DROP TABLE IF EXISTS `attribute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attribute` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `group` varchar(191) DEFAULT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'text',
  `dynamicValues` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attribute`
--

LOCK TABLES `attribute` WRITE;
/*!40000 ALTER TABLE `attribute` DISABLE KEYS */;
INSERT INTO `attribute` VALUES ('409dde5c-e94e-446c-b386-0751cfd6e5a1','yeso',NULL,'text',NULL,'2026-08-01 08:46:09.225','2026-08-01 08:46:09.225'),('c0f05a5c-0462-4338-ae90-1ab0e82f9474','chjg',NULL,'text',NULL,'2026-08-01 07:34:33.538','2026-08-01 07:34:33.538');
/*!40000 ALTER TABLE `attribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attributemapping`
--

DROP TABLE IF EXISTS `attributemapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attributemapping` (
  `id` varchar(191) NOT NULL,
  `attributeId` varchar(191) NOT NULL,
  `supplierValue` varchar(191) NOT NULL,
  `storeValue` varchar(191) DEFAULT NULL,
  `manualOverride` tinyint(1) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'mapped',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AttributeMapping_attributeId_fkey` (`attributeId`),
  CONSTRAINT `AttributeMapping_attributeId_fkey` FOREIGN KEY (`attributeId`) REFERENCES `attribute` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attributemapping`
--

LOCK TABLES `attributemapping` WRITE;
/*!40000 ALTER TABLE `attributemapping` DISABLE KEYS */;
INSERT INTO `attributemapping` VALUES ('4fb1ff7e-d943-471b-a856-1c90aec76ba7','409dde5c-e94e-446c-b386-0751cfd6e5a1',' nb km.,','chngvh::yeso',0,'mapped','2026-08-01 07:34:33.553','2026-08-01 08:46:09.251');
/*!40000 ALTER TABLE `attributemapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brand`
--

DROP TABLE IF EXISTS `brand`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brand` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `logo` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `website` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Brand_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brand`
--

LOCK TABLES `brand` WRITE;
/*!40000 ALTER TABLE `brand` DISABLE KEYS */;
INSERT INTO `brand` VALUES ('5bc982e9-830e-49e4-93da-d1109fa3b002','fcjhghj','','cnhfvgkhgkj',NULL,'active','2026-08-01 05:35:19.215','2026-08-01 05:35:19.215'),('78366e18-56e2-4fb5-b2d3-b5f2d915dbca','mjhkg',NULL,NULL,NULL,'active','2026-08-01 07:33:38.543','2026-08-01 07:33:38.543'),('96b181db-104a-4676-b6c1-dc7a78e50abd','gfchhj',NULL,NULL,NULL,'active','2026-08-01 07:14:37.094','2026-08-01 07:14:37.094'),('d1f41ccc-441f-4c5b-abe6-0565a7875060','nvkhhk,',NULL,NULL,NULL,'active','2026-08-03 06:06:35.224','2026-08-03 06:06:35.224');
/*!40000 ALTER TABLE `brand` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brandmapping`
--

DROP TABLE IF EXISTS `brandmapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brandmapping` (
  `id` varchar(191) NOT NULL,
  `brandId` varchar(191) NOT NULL,
  `supplierValue` varchar(191) NOT NULL,
  `storeValue` varchar(191) DEFAULT NULL,
  `manualOverride` tinyint(1) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'mapped',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `BrandMapping_brandId_fkey` (`brandId`),
  CONSTRAINT `BrandMapping_brandId_fkey` FOREIGN KEY (`brandId`) REFERENCES `brand` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brandmapping`
--

LOCK TABLES `brandmapping` WRITE;
/*!40000 ALTER TABLE `brandmapping` DISABLE KEYS */;
INSERT INTO `brandmapping` VALUES ('1a134f43-bd74-412e-9569-244b7a68ad2d','78366e18-56e2-4fb5-b2d3-b5f2d915dbca','gfchjgh','gfhg::mjhkg',0,'mapped','2026-08-01 07:33:38.559','2026-08-01 07:33:38.559');
/*!40000 ALTER TABLE `brandmapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `category` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `parentId` varchar(191) DEFAULT NULL,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Category_slug_key` (`slug`),
  KEY `Category_parentId_fkey` (`parentId`),
  CONSTRAINT `Category_parentId_fkey` FOREIGN KEY (`parentId`) REFERENCES `category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorymapping`
--

DROP TABLE IF EXISTS `categorymapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorymapping` (
  `id` varchar(191) NOT NULL,
  `categoryId` varchar(191) NOT NULL,
  `supplierValue` varchar(191) NOT NULL,
  `storeValue` varchar(191) DEFAULT NULL,
  `manualOverride` tinyint(1) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'mapped',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `CategoryMapping_categoryId_fkey` (`categoryId`),
  CONSTRAINT `CategoryMapping_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `category` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorymapping`
--

LOCK TABLES `categorymapping` WRITE;
/*!40000 ALTER TABLE `categorymapping` DISABLE KEYS */;
INSERT INTO `categorymapping` VALUES ('54d9ba8d-8e84-400e-882e-e2273b7d70d2','b24855e1-6ca8-4aa3-ba24-f9651dbf6fd1','gfdhjn','hgfhgfj::hgfjj',0,'mapped','2026-08-01 07:32:42.192','2026-08-01 07:32:42.192');
/*!40000 ALTER TABLE `categorymapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Department_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `importjob`
--

DROP TABLE IF EXISTS `importjob`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `importjob` (
  `id` varchar(191) NOT NULL,
  `source` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL,
  `recordsProcessed` int(11) NOT NULL DEFAULT 0,
  `recordsFailed` int(11) NOT NULL DEFAULT 0,
  `logs` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `importjob`
--

LOCK TABLES `importjob` WRITE;
/*!40000 ALTER TABLE `importjob` DISABLE KEYS */;
/*!40000 ALTER TABLE `importjob` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory` (
  `id` varchar(191) NOT NULL,
  `productId` varchar(191) DEFAULT NULL,
  `variantId` varchar(191) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'in_stock',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Inventory_productId_fkey` (`productId`),
  KEY `Inventory_variantId_fkey` (`variantId`),
  CONSTRAINT `Inventory_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Inventory_variantId_fkey` FOREIGN KEY (`variantId`) REFERENCES `variant` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
INSERT INTO `inventory` VALUES ('1c453178-d610-43dc-9f28-33a3472b899c','d8d3a870-2199-42cf-bc95-b3f48f517fbe',NULL,500,'in_stock','2026-08-03 06:06:35.236','2026-08-03 06:06:35.236'),('d738dc3f-8363-48eb-8ca9-ef10e467766d','933d1c9b-28c5-4725-baad-8a742bfe0e6f',NULL,50,'in_stock','2026-08-01 07:14:37.115','2026-08-01 07:14:37.115');
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `joblog`
--

DROP TABLE IF EXISTS `joblog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `joblog` (
  `id` varchar(191) NOT NULL,
  `jobId` varchar(191) NOT NULL,
  `queueName` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL,
  `progress` int(11) NOT NULL DEFAULT 0,
  `result` text DEFAULT NULL,
  `error` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `completedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `joblog`
--

LOCK TABLES `joblog` WRITE;
/*!40000 ALTER TABLE `joblog` DISABLE KEYS */;
INSERT INTO `joblog` VALUES ('11636dcf-6488-4aa0-bcaa-ab157211ef8b','job_1785569708365','full','completed',100,'Triggered Full Catalog Resync successfully',NULL,'2026-08-01 07:35:08.366','2026-08-01 07:35:08.365');
/*!40000 ALTER TABLE `joblog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manufacturer`
--

DROP TABLE IF EXISTS `manufacturer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manufacturer` (
  `id` varchar(191) NOT NULL,
  `company` varchar(191) NOT NULL,
  `country` varchar(191) DEFAULT NULL,
  `contact` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Manufacturer_company_key` (`company`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manufacturer`
--

LOCK TABLES `manufacturer` WRITE;
/*!40000 ALTER TABLE `manufacturer` DISABLE KEYS */;
INSERT INTO `manufacturer` VALUES ('d7e4c67a-9418-448c-8ff5-a98f6339da39','hdfkjgsg','fgfh',NULL,'active','2026-08-01 05:40:13.675','2026-08-01 05:40:13.675');
/*!40000 ALTER TABLE `manufacturer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `media`
--

DROP TABLE IF EXISTS `media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `media` (
  `id` varchar(191) NOT NULL,
  `url` longtext NOT NULL,
  `type` varchar(191) NOT NULL,
  `folder` varchar(191) DEFAULT NULL,
  `filename` varchar(191) NOT NULL,
  `size` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `media`
--

LOCK TABLES `media` WRITE;
/*!40000 ALTER TABLE `media` DISABLE KEYS */;
/*!40000 ALTER TABLE `media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permission` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Permission_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricingaudit`
--

DROP TABLE IF EXISTS `pricingaudit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pricingaudit` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `sku` varchar(191) NOT NULL,
  `supplier` varchar(191) NOT NULL,
  `oldPrice` double NOT NULL,
  `newPrice` double NOT NULL,
  `wholesaleCost` double NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'pending',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricingaudit`
--

LOCK TABLES `pricingaudit` WRITE;
/*!40000 ALTER TABLE `pricingaudit` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricingaudit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricingrule`
--

DROP TABLE IF EXISTS `pricingrule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pricingrule` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `formula` varchar(191) NOT NULL,
  `applies` varchar(191) NOT NULL,
  `products` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricingrule`
--

LOCK TABLES `pricingrule` WRITE;
/*!40000 ALTER TABLE `pricingrule` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricingrule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product` (
  `id` varchar(191) NOT NULL,
  `sku` varchar(191) NOT NULL,
  `upc` varchar(191) DEFAULT NULL,
  `barcode` varchar(191) DEFAULT NULL,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `shortDescription` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'draft',
  `slug` varchar(191) DEFAULT NULL,
  `seoTitle` varchar(191) DEFAULT NULL,
  `seoDescription` varchar(191) DEFAULT NULL,
  `weight` double DEFAULT NULL,
  `dimensions` varchar(191) DEFAULT NULL,
  `supplierId` varchar(191) DEFAULT NULL,
  `categoryId` varchar(191) DEFAULT NULL,
  `brandId` varchar(191) DEFAULT NULL,
  `manufacturerId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `deletedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Product_sku_key` (`sku`),
  UNIQUE KEY `Product_upc_key` (`upc`),
  UNIQUE KEY `Product_barcode_key` (`barcode`),
  UNIQUE KEY `Product_slug_key` (`slug`),
  KEY `Product_supplierId_fkey` (`supplierId`),
  KEY `Product_categoryId_fkey` (`categoryId`),
  KEY `Product_brandId_fkey` (`brandId`),
  KEY `Product_manufacturerId_fkey` (`manufacturerId`),
  CONSTRAINT `Product_brandId_fkey` FOREIGN KEY (`brandId`) REFERENCES `brand` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Product_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Product_manufacturerId_fkey` FOREIGN KEY (`manufacturerId`) REFERENCES `manufacturer` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Product_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productimage`
--

DROP TABLE IF EXISTS `productimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productimage` (
  `id` varchar(191) NOT NULL,
  `productId` varchar(191) NOT NULL,
  `url` longtext NOT NULL,
  `isFeatured` tinyint(1) NOT NULL DEFAULT 0,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `ProductImage_productId_fkey` (`productId`),
  CONSTRAINT `ProductImage_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productimage`
--

LOCK TABLES `productimage` WRITE;
/*!40000 ALTER TABLE `productimage` DISABLE KEYS */;
INSERT INTO `productimage` VALUES ('7f6022a5-bc5a-4809-bd9c-bed8917f3ba5','d8d3a870-2199-42cf-bc95-b3f48f517fbe','fgjhghyu',1,0,'2026-08-03 06:06:35.269');
/*!40000 ALTER TABLE `productimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productmapping`
--

DROP TABLE IF EXISTS `productmapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productmapping` (
  `id` varchar(191) NOT NULL,
  `productId` varchar(191) NOT NULL,
  `supplierValue` varchar(191) NOT NULL,
  `storeValue` varchar(191) DEFAULT NULL,
  `manualOverride` tinyint(1) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'mapped',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ProductMapping_productId_fkey` (`productId`),
  CONSTRAINT `ProductMapping_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productmapping`
--

LOCK TABLES `productmapping` WRITE;
/*!40000 ALTER TABLE `productmapping` DISABLE KEYS */;
INSERT INTO `productmapping` VALUES ('aa35e15e-4a05-47e1-adb7-34e5183ca60f','d3ca0c4c-f552-4236-9eb6-13a87ba1ba35','cbnmbvn','nvhjmhb::bvnmb',0,'mapped','2026-08-01 07:31:57.163','2026-08-01 07:31:57.163');
/*!40000 ALTER TABLE `productmapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productprice`
--

DROP TABLE IF EXISTS `productprice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productprice` (
  `id` varchar(191) NOT NULL,
  `productId` varchar(191) DEFAULT NULL,
  `variantId` varchar(191) DEFAULT NULL,
  `price` double NOT NULL,
  `cost` double DEFAULT NULL,
  `currency` varchar(191) NOT NULL DEFAULT 'USD',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ProductPrice_productId_fkey` (`productId`),
  KEY `ProductPrice_variantId_fkey` (`variantId`),
  CONSTRAINT `ProductPrice_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ProductPrice_variantId_fkey` FOREIGN KEY (`variantId`) REFERENCES `variant` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productprice`
--

LOCK TABLES `productprice` WRITE;
/*!40000 ALTER TABLE `productprice` DISABLE KEYS */;
INSERT INTO `productprice` VALUES ('c77cd014-23b3-4150-bfb4-397efc54db38','d8d3a870-2199-42cf-bc95-b3f48f517fbe',NULL,99.99,200,'USD','2026-08-03 06:06:35.236','2026-08-03 06:06:35.236'),('d100bacb-419f-48ab-acec-fa8885d67109','933d1c9b-28c5-4725-baad-8a742bfe0e6f',NULL,99.99,65,'USD','2026-08-01 07:14:37.115','2026-08-01 07:14:37.115');
/*!40000 ALTER TABLE `productprice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `publishinglog`
--

DROP TABLE IF EXISTS `publishinglog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `publishinglog` (
  `id` varchar(191) NOT NULL,
  `storeId` varchar(191) NOT NULL,
  `productId` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL,
  `details` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publishinglog`
--

LOCK TABLES `publishinglog` WRITE;
/*!40000 ALTER TABLE `publishinglog` DISABLE KEYS */;
/*!40000 ALTER TABLE `publishinglog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refreshtoken`
--

DROP TABLE IF EXISTS `refreshtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refreshtoken` (
  `id` varchar(191) NOT NULL,
  `token` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `expiresAt` datetime(3) NOT NULL,
  `revoked` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `RefreshToken_token_key` (`token`),
  KEY `RefreshToken_userId_fkey` (`userId`),
  CONSTRAINT `RefreshToken_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refreshtoken`
--

LOCK TABLES `refreshtoken` WRITE;
/*!40000 ALTER TABLE `refreshtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `refreshtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Role_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('12d44937-a825-46ec-b595-921279f8a9ce','integration_manager','2026-08-01 08:41:51.145','2026-08-03 08:39:49.097'),('2ed2a0e0-3fd1-4b5d-8c54-a1cf7bd0ed3b','catalog_manager','2026-08-01 08:41:50.691','2026-08-03 08:40:07.493'),('32add45a-eb3d-4922-ae70-97d038a393d1','operations_staff','2026-08-01 08:41:51.565','2026-08-03 08:40:37.217'),('4538deaf-5682-44b6-bbc9-665c076f5a3f','administrator','2026-08-01 08:41:50.274','2026-08-03 08:39:13.238'),('4ec74e48-c2c0-43e6-995f-089d2c13a269','platform_owner','2026-07-31 12:38:08.787','2026-07-31 12:38:08.787');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolepermission`
--

DROP TABLE IF EXISTS `rolepermission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rolepermission` (
  `roleId` varchar(191) NOT NULL,
  `permissionId` varchar(191) NOT NULL,
  PRIMARY KEY (`roleId`,`permissionId`),
  KEY `RolePermission_permissionId_fkey` (`permissionId`),
  CONSTRAINT `RolePermission_permissionId_fkey` FOREIGN KEY (`permissionId`) REFERENCES `permission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `RolePermission_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolepermission`
--

LOCK TABLES `rolepermission` WRITE;
/*!40000 ALTER TABLE `rolepermission` DISABLE KEYS */;
/*!40000 ALTER TABLE `rolepermission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `session`
--

DROP TABLE IF EXISTS `session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `session` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `token` varchar(191) NOT NULL,
  `ipAddress` varchar(191) DEFAULT NULL,
  `userAgent` varchar(191) DEFAULT NULL,
  `expiresAt` datetime(3) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `Session_token_key` (`token`),
  KEY `Session_userId_fkey` (`userId`),
  CONSTRAINT `Session_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `session`
--

LOCK TABLES `session` WRITE;
/*!40000 ALTER TABLE `session` DISABLE KEYS */;
/*!40000 ALTER TABLE `session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store`
--

DROP TABLE IF EXISTS `store`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `store` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `currency` varchar(191) NOT NULL DEFAULT 'USD',
  `language` varchar(191) NOT NULL DEFAULT 'en',
  `timezone` varchar(191) NOT NULL DEFAULT 'UTC',
  `connectionStatus` varchar(191) NOT NULL DEFAULT 'disconnected',
  `syncStatus` varchar(191) NOT NULL DEFAULT 'idle',
  `lastSync` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store`
--

LOCK TABLES `store` WRITE;
/*!40000 ALTER TABLE `store` DISABLE KEYS */;
INSERT INTO `store` VALUES ('4af7db7a-db5a-4a86-b767-3968125ab2ad','gndfjkgnfh','Custom API','USD','en','UTC','active','synced','2026-08-03 06:18:40.155','2026-08-03 06:18:40.158','2026-08-03 06:18:40.158');
/*!40000 ALTER TABLE `store` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storeconfiguration`
--

DROP TABLE IF EXISTS `storeconfiguration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `storeconfiguration` (
  `id` varchar(191) NOT NULL,
  `storeId` varchar(191) NOT NULL,
  `key` varchar(191) NOT NULL,
  `value` text NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `StoreConfiguration_storeId_fkey` (`storeId`),
  CONSTRAINT `StoreConfiguration_storeId_fkey` FOREIGN KEY (`storeId`) REFERENCES `store` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storeconfiguration`
--

LOCK TABLES `storeconfiguration` WRITE;
/*!40000 ALTER TABLE `storeconfiguration` DISABLE KEYS */;
INSERT INTO `storeconfiguration` VALUES ('4fabb113-815d-4200-88f2-1b2b927ab633','4af7db7a-db5a-4a86-b767-3968125ab2ad','region','Europe','2026-08-03 06:18:40.158','2026-08-03 06:18:40.158'),('be9528a9-61cf-4bf7-aadb-18252f6e6434','4af7db7a-db5a-4a86-b767-3968125ab2ad','url','https://fghfghdh','2026-08-03 06:18:40.158','2026-08-03 06:18:40.158');
/*!40000 ALTER TABLE `storeconfiguration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storecredential`
--

DROP TABLE IF EXISTS `storecredential`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `storecredential` (
  `id` varchar(191) NOT NULL,
  `storeId` varchar(191) NOT NULL,
  `apiKey` varchar(191) DEFAULT NULL,
  `secret` varchar(191) DEFAULT NULL,
  `accessToken` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `StoreCredential_storeId_fkey` (`storeId`),
  CONSTRAINT `StoreCredential_storeId_fkey` FOREIGN KEY (`storeId`) REFERENCES `store` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storecredential`
--

LOCK TABLES `storecredential` WRITE;
/*!40000 ALTER TABLE `storecredential` DISABLE KEYS */;
INSERT INTO `storecredential` VALUES ('830e9404-3714-4f69-a79f-da851605ceb2','4af7db7a-db5a-4a86-b767-3968125ab2ad','adstertyu',NULL,NULL,'2026-08-03 06:18:40.158','2026-08-03 06:18:40.158');
/*!40000 ALTER TABLE `storecredential` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplier` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `company` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `website` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `deletedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES ('2cdab8a8-56ea-44ac-ae2a-f69b9e908d5d','bfb','3534','gfghghj@gmail.com','owner@gmail.com','xvfcbh','connected','2026-08-01 06:38:53.093','2026-08-01 06:38:53.093',NULL),('3761eb38-6190-4df4-be3a-c195cf46ea28','TechParts International',NULL,NULL,NULL,NULL,'active','2026-08-01 07:14:37.048','2026-08-01 07:14:37.048',NULL),('f1cddb9a-1af7-4bff-a4a4-7e965e9e7d4e','hgqwerty','RHTRKU','ghjgkj@gmail.com','dsddfhkdg','gfhj','connected','2026-08-03 06:38:51.101','2026-08-03 06:38:51.101',NULL);
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplierconnection`
--

DROP TABLE IF EXISTS `supplierconnection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplierconnection` (
  `id` varchar(191) NOT NULL,
  `supplierId` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `apiUrl` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'disconnected',
  `lastSync` datetime(3) DEFAULT NULL,
  `nextSync` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SupplierConnection_supplierId_fkey` (`supplierId`),
  CONSTRAINT `SupplierConnection_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplierconnection`
--

LOCK TABLES `supplierconnection` WRITE;
/*!40000 ALTER TABLE `supplierconnection` DISABLE KEYS */;
INSERT INTO `supplierconnection` VALUES ('aef5540d-a2c6-462f-b235-5f6a4832ba3b','f1cddb9a-1af7-4bff-a4a4-7e965e9e7d4e','csv',NULL,'connected','2026-08-03 06:38:51.099',NULL,'2026-08-03 06:38:51.101','2026-08-03 06:38:51.101'),('d0bead28-e0d0-4a79-b74f-ca9291eda09a','2cdab8a8-56ea-44ac-ae2a-f69b9e908d5d','xml',NULL,'connected','2026-08-03 05:58:07.695',NULL,'2026-08-01 06:38:53.093','2026-08-03 05:58:07.696');
/*!40000 ALTER TABLE `supplierconnection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliercredential`
--

DROP TABLE IF EXISTS `suppliercredential`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliercredential` (
  `id` varchar(191) NOT NULL,
  `supplierId` varchar(191) NOT NULL,
  `authType` varchar(191) NOT NULL,
  `username` varchar(191) DEFAULT NULL,
  `password` varchar(191) DEFAULT NULL,
  `apiKey` varchar(191) DEFAULT NULL,
  `secret` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SupplierCredential_supplierId_fkey` (`supplierId`),
  CONSTRAINT `SupplierCredential_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliercredential`
--

LOCK TABLES `suppliercredential` WRITE;
/*!40000 ALTER TABLE `suppliercredential` DISABLE KEYS */;
INSERT INTO `suppliercredential` VALUES ('2002f5b2-020f-47a8-88fb-b9573cf22f28','2cdab8a8-56ea-44ac-ae2a-f69b9e908d5d','xml','owner@gmail.com',NULL,'123',NULL,'2026-08-01 06:38:53.093','2026-08-01 06:38:53.093'),('bcfb5346-2fcc-4ce8-8f8c-6dd5756fb7d9','f1cddb9a-1af7-4bff-a4a4-7e965e9e7d4e','csv','owner@gmail.com',NULL,'123',NULL,'2026-08-03 06:38:51.101','2026-08-03 06:38:51.101');
/*!40000 ALTER TABLE `suppliercredential` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplierlog`
--

DROP TABLE IF EXISTS `supplierlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplierlog` (
  `id` varchar(191) NOT NULL,
  `supplierId` varchar(191) NOT NULL,
  `action` varchar(191) NOT NULL,
  `details` text DEFAULT NULL,
  `status` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `SupplierLog_supplierId_fkey` (`supplierId`),
  CONSTRAINT `SupplierLog_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplierlog`
--

LOCK TABLES `supplierlog` WRITE;
/*!40000 ALTER TABLE `supplierlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplierlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplierschedule`
--

DROP TABLE IF EXISTS `supplierschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplierschedule` (
  `id` varchar(191) NOT NULL,
  `supplierId` varchar(191) NOT NULL,
  `cronExpression` varchar(191) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SupplierSchedule_supplierId_fkey` (`supplierId`),
  CONSTRAINT `SupplierSchedule_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplierschedule`
--

LOCK TABLES `supplierschedule` WRITE;
/*!40000 ALTER TABLE `supplierschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplierschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliersync`
--

DROP TABLE IF EXISTS `suppliersync`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliersync` (
  `id` varchar(191) NOT NULL,
  `supplierId` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL,
  `productCount` int(11) NOT NULL DEFAULT 0,
  `inventoryStatus` varchar(191) DEFAULT NULL,
  `pricingStatus` varchar(191) DEFAULT NULL,
  `imageStatus` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `SupplierSync_supplierId_fkey` (`supplierId`),
  CONSTRAINT `SupplierSync_supplierId_fkey` FOREIGN KEY (`supplierId`) REFERENCES `supplier` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliersync`
--

LOCK TABLES `suppliersync` WRITE;
/*!40000 ALTER TABLE `suppliersync` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliersync` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemsetting`
--

DROP TABLE IF EXISTS `systemsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `systemsetting` (
  `id` varchar(191) NOT NULL,
  `key` varchar(191) NOT NULL,
  `value` text NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SystemSetting_key_key` (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemsetting`
--

LOCK TABLES `systemsetting` WRITE;
/*!40000 ALTER TABLE `systemsetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `systemsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `profileImage` varchar(191) DEFAULT NULL,
  `lastLogin` datetime(3) DEFAULT NULL,
  `departmentId` varchar(191) DEFAULT NULL,
  `roleId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`),
  KEY `User_departmentId_fkey` (`departmentId`),
  KEY `User_roleId_fkey` (`roleId`),
  CONSTRAINT `User_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `department` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `User_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `validationlog`
--

DROP TABLE IF EXISTS `validationlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `validationlog` (
  `id` varchar(191) NOT NULL,
  `entityId` varchar(191) NOT NULL,
  `entityType` varchar(191) NOT NULL,
  `issue` text NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'open',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `resolvedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `validationlog`
--

LOCK TABLES `validationlog` WRITE;
/*!40000 ALTER TABLE `validationlog` DISABLE KEYS */;
INSERT INTO `validationlog` VALUES ('2f9732b0-d3b1-467f-ba16-76675e56670d','d8d3a870-2199-42cf-bc95-b3f48f517fbe','Product','[missing_description] Product \"fcdgnvgkhj\" (SKU: bdfhj) is missing a product description. Add a description for SEO and storefront display.','open','2026-08-03 06:06:35.288',NULL);
/*!40000 ALTER TABLE `validationlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `validationrule`
--

DROP TABLE IF EXISTS `validationrule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `validationrule` (
  `id` varchar(191) NOT NULL,
  `entity` varchar(191) NOT NULL,
  `field` varchar(191) NOT NULL,
  `ruleType` varchar(191) NOT NULL,
  `errorMessage` varchar(191) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `validationrule`
--

LOCK TABLES `validationrule` WRITE;
/*!40000 ALTER TABLE `validationrule` DISABLE KEYS */;
/*!40000 ALTER TABLE `validationrule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variant`
--

DROP TABLE IF EXISTS `variant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variant` (
  `id` varchar(191) NOT NULL,
  `productId` varchar(191) NOT NULL,
  `sku` varchar(191) NOT NULL,
  `color` varchar(191) DEFAULT NULL,
  `size` varchar(191) DEFAULT NULL,
  `material` varchar(191) DEFAULT NULL,
  `storage` varchar(191) DEFAULT NULL,
  `memory` varchar(191) DEFAULT NULL,
  `model` varchar(191) DEFAULT NULL,
  `dynamicOptions` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Variant_sku_key` (`sku`),
  KEY `Variant_productId_fkey` (`productId`),
  CONSTRAINT `Variant_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variant`
--

LOCK TABLES `variant` WRITE;
/*!40000 ALTER TABLE `variant` DISABLE KEYS */;
/*!40000 ALTER TABLE `variant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variantmapping`
--

DROP TABLE IF EXISTS `variantmapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variantmapping` (
  `id` varchar(191) NOT NULL,
  `variantId` varchar(191) NOT NULL,
  `supplierValue` varchar(191) NOT NULL,
  `storeValue` varchar(191) DEFAULT NULL,
  `manualOverride` tinyint(1) NOT NULL DEFAULT 0,
  `status` varchar(191) NOT NULL DEFAULT 'mapped',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `VariantMapping_variantId_fkey` (`variantId`),
  CONSTRAINT `VariantMapping_variantId_fkey` FOREIGN KEY (`variantId`) REFERENCES `variant` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variantmapping`
--

LOCK TABLES `variantmapping` WRITE;
/*!40000 ALTER TABLE `variantmapping` DISABLE KEYS */;
INSERT INTO `variantmapping` VALUES ('7e3e8bed-40b1-4b4f-9db5-7c4d47dbbc1b','614f4585-89e8-494d-8762-2bbc3688bfef','chmnvb','bvbcmhgb::bhus',0,'mapped','2026-08-01 07:34:03.784','2026-08-01 08:46:22.582');
/*!40000 ALTER TABLE `variantmapping` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-03 15:33:09
